<%- include('../includes/head.ejs') %>
</head>
<body>
    <link href="/css/form-style.css" rel="stylesheet"/>
<%- include('../includes/navigation.ejs') %>  

<section class="signup-section">
    <h2 class="text-center"><strong>Fotgot Password</strong></h2>
    <form action="/forgot-password" method="POST" class="signup container">

        <% if(errors) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong><%= errors %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        <% } %>  
              
        <label>Email</label>
        <input type="email" class="form-control <%= validationErrors.find(e=> e.param === 'password' ) ? 'invalid' : '' %>" name="email" value="<%= oldData.password %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <button type="submit" class="btn btn-primary form-control" id="btn-signup">Send reset email</button>
    </form>
   
</section>


<%- include('../includes/end.ejs') %>