<%- include('../includes/head.ejs') %> 
<link href="/css/form-style.css" rel="stylesheet"/>
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 

    
<section class="signup-section">
    <h2 class="text-center"><strong>Set new password</strong></h2>
    <form action="/reset" method="POST" class="signup container">

        <% if(errors) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong><%= errors %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        <% } %>  

    
        <label>Password</label>
        <input type="password" class="form-control <%= validationErrors.find(e=> e.param === 'password' ) ? 'invalid' : '' %>" name="password" value="<%= oldData.password %>">
        <label>Confirm Password</label>
        <input type="password" class="form-control <%= validationErrors.find(e=> e.param === 'confirm_password' ) ? 'invalid' : '' %>" name="confirm_password" value="<%= oldData.confirm_password %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <input type="hidden" name="id" value="<%= userId %>"/>
        <button type="submit" class="btn btn-primary form-control" id="btn-signup">Save</button>
    </form>
   
</section>

<%- include('../includes/end.ejs') %> 