<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <section class="add-address container">

        

        <form class="address-form" action="/add-delivery-address" method="POST">

            <h2 >Add Address</h2>
            <hr width="80px">

            <div class="form-group">
              <label for="exampleInputEmail1">Full Name</label>
              <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter Name" value="<%= oldData.name %>">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mobile Number</label>
                <input type="number" name="phone" class="form-control" id="InputNumber" placeholder="10 digit phone number" value="<%= oldData.phone %>">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">PIN code</label>
                <input type="number" name="pincode" class="form-control" id="InputPin" placeholder="6 digit phone no" value="<%= oldData.pincode %>">
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">Flat, House no., Building, Company, Apartment</label>
                <input type="text" name="address_line1" class="form-control" id="InputPin" value="<%= oldData.address_line1 %>">
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">Area, Colony, Street, Sector, Village</label>
                <input type="text"  name="address_line2" class="form-control" id="InputPin" value="<%= oldData.address_line2 %>">
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">Landmark</label>
                <input type="text" name="landmark" class="form-control" id="InputPin" placeholder="Near govt school" value="<%= oldData.landmark %>">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Town City</label>
                <input type="text" name="city" class="form-control" id="InputPin" value="<%= oldData.city %>">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">State</label>
                <input type="text" name="state" class="form-control" id="InputPin" value="<%= oldData.state %>">
              </div>
              
              <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

            <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </section>
    
<%- include('../includes/end.ejs') %>