<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>  

<section class="container delivery">
    <h2>Select delivery address</h1>
    <hr class="hr" width="120px">

    <% if(user.address.length > 0){ %>

        <% user.address.forEach(address=>{ %>
            <div class="address-card card">

                <span class="address-text"> <span class="text-muted label-address">Full name:</span> <%= address.name %> </span>
                <span class="address-text"> <span class="text-muted label-address">Phone:</span>  <%= address.phone %> </span>
                <span class="address-text"> <span class="text-muted label-address">Pincode:</span> <%= address.pincode %> </span>
                <span class="address-text"> <span class="text-muted label-address">Address Line 1:</span> <%= address.address_line1 %> </span>
                <% if(user.address[0].address_line2 > 0) { %>
                    <span class="address-text"> <span class="text-muted label-address">Address Line 2:</span> <%= address.address_line2 %> </span>
                <% } %>   
                <% if(user.address[0].landmark > 0) { %>
                <span class="address-text"> <span class="text-muted label-address">Landmark:</span>  <%= address.landmark %> </span>
                <% } %>   
                <span class="address-text"> <span class="text-muted label-address">City:</span>  <%= address.city %> </span>
                <span class="address-text"> <span class="text-muted label-address">State:</span> <%= address.state %> </span>


                <button class="btn btn-success">Deliver to this address</button>
                
            </div>
        <% }) %>
  
    <% }else{ %>
        <h1>No address add one</h1>

    <% } %>
</section>


<%- include('../includes/end.ejs') %>