<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>  
<section class="py-5 text-center container banner">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Streetfood</h1>
        <p class="lead text-muted">Hey do you wanna cheap food near you ,Search your favourite street foods here</p>
        <p class="search-box">
            <input type="text" class="form-control search" name="search">
            <br><a class="btn btn-primary " href="/">Search</a>  
        </p>
      </div>
    </div>
  </section>
<section class="foods container">
    <h2 class="text-center">Most ordered Foods</h1>
    <hr class="mx-auto" width="100px">    

    <% if(items.length > 0){ %>
      <div class="row">
          <% items.forEach(item=>{ %>
              <div class="card col-md-4 food-card" style="width: 18rem;">
                  <img src="<%= item.food_image %>" class="card-img-top food-image" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.food_name %></h5>
                    <p class="card-text"><%= item.food_description %></p>
                    <span class="text-muted"><%= item.food_category %></span><br>
                    <span class="text-muted">Hotel: <%= item.hotel[0].hotel_name %></span>
                    <div class="price"><span class="text-muted">Price:</span> <strong><%= item.food_price %>&#8377;</strong></div>
                    <input type="hidden" name="id" value="<%= item._id %>"/>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <div class="lastBlock">
                      <%- include('../includes/add_to_cart.ejs',{item:item}) %>
                    </div>
                  </div>
                </div>
          <% }); %>
      </div>
  <% }else{ %>
          <h5 class="text-center">No foods available.</h3>
  <% } %>  
    
</section>


<%- include('../includes/end.ejs') %>